label {
	min-width: 120px;
	display: inline-block;
	font-weight: bold;
}

#url {
	width: 300px;
}

#width, #height {
	width: 3em;
}

#container {
	position: relative;
	display: block;
	margin-left: 200px;
}

#image {
	position: absolute;
	left: 0;
	top: 0;
}

#background {
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	
	mix-blend-mode: multiply;
	background-color: gray;
}

#selector {
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
}

#panel {
	position: fixed;
	display: block;
	width: 200px;
	left: 0;
}

#displayPos {
	font-weight: bold;
}

#displayRowCol {
	font-weight: bold;
}

#textAscii {
	width: 2em;
}